<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css?v=2">
  <title>log</title>
</head>
<body>
  <div class="sign_content">
    <div class="sign_title">
      <h1>Log</h1>
    </div>
    <form class="in_form" action="/signin" method="post">
      <ul class="in_ul">
        <li class="in_li">
          <h3 class="in_text">名前を入力</h3>
          <input class="in_name inp" name="name" placeholder="名前を入力">
        </li>
        <li class="in_li">
          <h3 class="in_text">パスワードを入力</h3>
          <input class="in_password inp" name="password" type="password" placeholder="パスワードを入力">
        </li>
        <input class="in_submit" type="submit" value="ログイン">
      </ul>
    </form>
  </div>
</body>
</html>